#pragma code_page(65001)
#include "resource.h"
#include <windows.h>

IDD_PROXY DIALOGEX 0, 0, 360, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "配置代理地址"
FONT 9, "Microsoft YaHei UI", 0, 0, 0x1
BEGIN
    LTEXT           "代理地址",IDC_STATIC,12,8,120,12
    LTEXT           "请输入代理地址 (如 127.0.0.1:7897 或 http://192.168.1.100:8080):",IDC_STATIC,12,24,336,12
    EDITTEXT        IDC_EDIT_ADDRESS,12,44,280,14,ES_AUTOHSCROLL
    LTEXT           "",IDC_STATIC_ERR,12,64,336,12
    DEFPUSHBUTTON   "保存",IDOK,240,108,50,16
    PUSHBUTTON      "取消",IDCANCEL,296,108,50,16
END

IDD_APP_SELECT DIALOGEX 0, 0, 400, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "选择应用"
FONT 9, "Microsoft YaHei UI", 0, 0, 0x1
BEGIN
    LTEXT           "已配置的应用程序列表:",IDC_STATIC,12,8,200,12
    LISTBOX         IDC_LIST_APPS,12,24,376,160,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "添加 EXE",IDC_BTN_ADD_EXE,12,196,70,24
    PUSHBUTTON      "添加 MSIX",IDC_BTN_ADD_MSIX,88,196,70,24
    PUSHBUTTON      "添加 NPM",IDC_BTN_ADD_NPM,164,196,70,24
    PUSHBUTTON      "添加 VSCode",IDC_BTN_ADD_VSCODE,240,196,70,24
    PUSHBUTTON      "删除",IDC_BTN_REMOVE,316,196,70,24
    PUSHBUTTON      "设为当前",IDC_BTN_SELECT,316,224,70,24
    LTEXT           "选择应用后点击设为当前以切换",IDC_STATIC,12,230,296,12
    DEFPUSHBUTTON   "关闭",IDCANCEL,328,256,60,16
END
